

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  font-size:medium;
}

body a{
  color: dodgerblue;
}

.content{
  margin:0 13%;
  padding: 0 5%;
}

p{
  font-size:20px;
}

body a:hover{
  color: dodgerblue;
  background-color: yellow;
  /* border: 2px solid black; */
}



h1 {
  text-align: center;
  /*margin-top: 0px;*/
  /*background-color: #ccc;*/
  color: Dodgerblue;
  font-size: xx-large;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


h2 {
  text-align: left;
  font-size: large;
  /*background-color: #ddd;*/
  color: rgb(182, 49, 49);
  
  
}

h3 {
  text-align: left;
  /*background-color: #eee;*/
  color: green;
  font-size: large;
}


.header{
  /* background-image: url(http://cdn.eso.org/images/screen/eso0932a.jpg) ; */
  
  margin:0;
  padding:2px;
  display:block;
  top:0px;
  overflow:auto;
  background-color: #222;
  color: lightgoldenrodyellow;
  font-size: large;
  font-weight: bold;
  
  
}

.footer{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding:30px;
  
}

button{
  font-size:medium;
}


.column{
  float:left;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containercol{
  width:40%;
  margin:5% 0;
}

.container{
  
  padding:10px 2%;
  margin:10px 5px;
  width:90%;
  text-align: center;
  min-height:80px;
}

.initiate{
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.genomebox{
  margin:4% ;
  display:inline-block;
}

.genomeName{
  text-align: center;
}

.genome{
  display:flex;
  padding:1% 5%;
  flex:nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bit{
  width:20px;
  height:20px;
  text-align: center;
  font-size:15px;
  border: 1px solid black;
}

.flex-box{
  display:flex;
  width:100%; 
  padding:0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height:auto;
}

.flex-row{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.flex-column{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selection{
  border:1px solid red;
}


.parent{
  border:1px solid green;
  
}


.crossover{
  border:1px solid green;
}
.offspring{
  border:1px solid blue;
}
.mutant{
  border:1px solid green;
}

.svgcol{
  width:25%;
}

.svg{
  width:25%;
}

.style-for-1{
  background-color: white;

}
.style-for-0{
  background-color: gray ;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .content{
    margin: 0 8%;
  }
  h1 {
    font-size: x-large;
  }

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .content{
    margin:1px;
  }
  h1 {
    font-size: x-large;
  }
  .containercol{
    width:45%
  }
  .svgcol{
    width:9%;
  }
  .container{
    padding:2px;
    margin:4px 0 ;
  }
  .svg{
    width:10%;
  }
  .bit{
    width:15px;
    height:20px;
    text-align: center;
    font-size:15px;
    border: 1px solid black;
  }
  .genomebox{
    padding:1px ;
  }
  

  .genome{
    display:flex;
    padding:1% 1%;
    flex:nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

